/* Utils */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

/* Color codes for statuses */
.p-dropdown-info .p-dropdown-label {
    color: #3178c6; /* Blue for 'info' */
}

.p-dropdown-success .p-dropdown-label {
    color: #28a745; /* Green for 'success' */
}

.p-dropdown-warning .p-dropdown-label {
    color: #ffc107; /* Yellow for 'warning' */
}

.p-dropdown-danger .p-dropdown-label {
    color: #fd0921; /* Red for 'danger' */
}

/* Optionally, you can style the dropdown items when open */
.p-tag-info {
    background-color: #d1e7ff;
}

.p-tag-success {
    background-color: #d4edda;
}

.p-tag-warning {
    background-color: #fff3cd;
}

.p-tag-danger {
    background-color: #f8d7da;
}
